

.annotation {
  margin-top: 3.5rem;
  padding-bottom: 4rem;
  background: var(--primary);
  font-size: 1.2rem;

  .text-content {
    margin: 0 auto;
    width: 55%;
  }

}

@media only screen and (max-width: 500px) {
  .annotation {
    font-size: 1.1rem;

    .text-content {
      width: 90%;
    }
  }
}