

.header {
  background: var(--secondary);
  color: var(--primary);
  position: relative;

  h1 {
    padding: 2.5rem 0 0.55rem 0;
    margin: 0;
    text-align: center;
    font-weight: 700;
    font-size: 3.75rem;
  }

  nav {
    display: flex;
    justify-content: center;
    padding-bottom: 0.3rem;

    a {
      border-radius: 5px;
    }

    h5 {
      margin: .5rem 0.8rem;
      color: var(--primary);
      font-size: 1.9rem;
      font-weight: 300;
      display: inline-block;
    }

    .selected {
      background: var(--primary);
      transition: background 250ms linear;
      
      h5 {
        color: var(--secondary);
        transition: color 250ms linear;
      }
    }
  }

}