.diary {
  background: var(--primary);

  .text-content {
    margin: calc(3.5rem - 30px) auto;
    width: 55%;
    padding-bottom: 4rem;
    font-size: 1.2rem;
    
    h2 {
      margin-top: 0;
    }
  }

  .entry {
    margin-top: 1.5rem;
    h4 {
      margin: 0.3rem 0;
      font-weight: 700;
      font-size: 1.3rem;
    }
    p {
      margin: 0 0 0 0.5rem;
    }
  }
}

@media only screen and (max-width: 500px) {
  .diary {

    .text-content {
      width: 90%;
      font-size: 1.1rem;
    }

    .entry {
      h4 {
        font-size: 1.2rem;
      }
    }
  }
}
